<h1>Listing dinosaurs</h1>
<div>
  <%= render 'search_form' %> 
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dinosaurs.each do |dinosaur| %>
  <tr>
    <td><%= dinosaur.name %></td>
    <td><%= dinosaur.height %></td>
    <td><%= link_to 'Show', dinosaur %></td>
    <td><%= link_to 'Edit', edit_dinosaur_path(dinosaur) %></td>
    <td><%= link_to 'Destroy', dinosaur, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dinosaur', new_dinosaur_path %>
